<div id="panel1">
  <a id="startstatus1" class="status status-default"></a>
  <br>
  <a id="nextmovestatus1" class="status status-default"></a>
  <br>
  <a id="timestatus1" class="status status-default"></a>
  <br>
  <a id="profitstatus1" class="status status-default"></a>
  <br>
  <a id="messagestatus1" class="status status-default"></a>
</div>

<div id="map1"></div>

<div id="panel1">
<!--  <a id="simulatebtn1" class="btn btn-default">Simulate shift</a>-->
  <a id="depthbtn1" onclick="changeDepth1()" class="btn btn-default">Depth: novice</a>
  <a id="opacitybtn1" onclick="changeOpacity1()" class="btn btn-default">Opacity: L</a>
</div>
