<h4>When and where do <span style="color: red">hot</span> and <span style="color: blue">cold</span> drivers make their pickups?</h4>

<div>
<input id="map2slider" type="text" data-slider-ticks="[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]" data-slider-ticks-snap-bounds="30" data-slider-ticks-labels="['0<sup>h</sup>', '2', '4', '6', '8', '10', '12', '14', '16', '18', '20', '22<sup>h</sup>']"
data-slider-tooltip="hide" data-slider-handle="square"/>
</div>

<div id="map2"></div>

<div id="panel2">
  <a id="dayofweekbtn2" onclick="toggleDayOfWeek2()" class="btn btn-default">Weekday</a>
  <a id="L1btn2" onclick="toggleL12()" class="btn btn-default">Regularization: N</a>
  <a id="thresholdbtn2" onclick="toggleThreshold2()" class="btn btn-default">Show <span style="color: green">neutral areas</span>: Y</a>
  <a id="opacitybtn2" onclick="changeOpacity2()" class="btn btn-default">Opacity: L</a>
</div>
