<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h4>Over 500,000 taxi trips are made in NYC every day.<br>We can make a scatter plot of pickup and dropoff locations, which are recorded by GPS for each trip.</h4>
</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">
<div class="output_area">
<div class="output_html rendered_html output_subarea output_pyout">
<img src="static/figures/scatter-zones-web.jpg" width="100%"/>
</div>
</div>
</div>
</div>

<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h4><br><br>The GPS location data is extremely detailed, allowing us to zoom in on areas of interest.</h4>
</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">
<div class="output_area">
<div class="output_html rendered_html output_subarea output_pyout">
<img src="static/figures/scatter-LGA-web.jpg" width="100%"/>
</div>
</div>
</div>
</div>

<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h4><br><br>However, we can see that the GPS accuracy noticeably suffers in midtown Manhattan (most likely due to the signals bouncing off of skyscrapers).</h4>
</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">
<div class="output_area">
<div class="output_html rendered_html output_subarea output_pyout">
<img src="static/figures/MSG-web.jpg" width="100%"/>
</div>
</div>
</div>
</div>

<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h4><br><br>The data also contains detailed temporal information for each trip.  The heartbeat of Manhattan is clearly evident.</h4>
</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">
<div class="output_area">
<div class="output_html rendered_html output_subarea output_pyout">
<img src="static/figures/MSG-all-series.png" width="100%"/>
</div>
</div>
</div>
</div>

<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h4><br><br>Things are quieter over in Brooklyn.  The GPS accuracy is detailed enough to show that pickups and dropoffs happen on opposite sides of the street.</h4>
</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">
<div class="output_area">
<div class="output_html rendered_html output_subarea output_pyout">
<img src="static/figures/Barclays-web.jpg" width="100%"/>
</div>
</div>
</div>
</div>

<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h4><br><br>Events at Barclays Center induce clear spikes in the time series of pickups and dropoffs.</h4>
</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">
<div class="output_area">
<div class="output_html rendered_html output_subarea output_pyout">
<img src="static/figures/Barclays-all-series.png" width="100%"/>
</div>
</div>
</div>
</div>

<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h4><br><br>We can also combine the spatial and temporal information.</h4>
</div>
</div>
</div>

<div class="gfyitem" data-title=true data-autoplay=True data-controls=true data-expand=True data-id="DearAdoredBobwhite" style="width: 100%;" ></div> 
